.city__card {
    padding: 10px;
    height: 300px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
}

.city__card h1 {
    text-align: center;
    border-bottom: 1px solid;
}

.cities {
    display: flex;
    flex-flow: row wrap;
}
.city__card span{
    margin: 2px;
    padding: 2px 4px;
    border-radius: 6px;
    background-color: brown;
    color: #fff;
}