.code__card {
    padding: 10px;
    height: 300px;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(189, 236, 232);
    box-shadow: rgba(245, 247, 248, 0.12) 0px 2px 4px 0px, rgba(114, 119, 122, 0.32) 0px 2px 16px 0px;
    margin: auto;
}
.code__card h1{color: blue; border-bottom: 1px solid;text-align: center;}
.code__card span{font-weight: 600; font-size: 20px;}