.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card__box {
    margin: 8px;
}

.page__button {
    margin: 5px !important;
    cursor: pointer !important;
}

.pagination {
    display: flex;
    justify-content: center;
}

.error__msg {
    color: red;
    font-weight: 600;
    font-size: 20px;
}