.main {
    display: flex;
    flex-flow: row wrap;
}

.card__box {
    margin: 8px;
}

.page__button {
    margin: 5px !important ;
    cursor: pointer !important;
}

.pagination {
    display: flex;
    justify-content: center;
}