.currency__card {
    padding: 10px;
    height: 400px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    text-align: center;
}
.currency__card h1{color: blue;}
.currency__card span{font-weight: 600;font-size: 20px;}