.card__details {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.smallcard {
    width: 200px;
    height: 130px;
}

.card__btn {
    cursor: pointer;
}

.rt-r-jc-star {
    align-items: center;
}

.flag__img__container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}